.head {
    width: 1280px;
    margin: 0 auto;
    padding: 41px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 767px) {
    .head {
      padding: 41px 20px 0 20px;
    }
  }